# Auto detect text files and perform LF normalization
* text=auto

# Ensure shell scripts always preserve LF line endings for Linux execution
*.sh text eol=lf
*.py text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
